.book{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 992px) {
    .book{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .book{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}